body {
	background:#999;
	font-family: monospace;
	margin: 0;
}

.thebox {
	background: white;
	border-color: black;
	border-bottom-color: black;
	width: 800px;
	border-radius: 10px;
	padding: 14px 24px;
	border: 1px solid gray;
	margin: 0 auto;
	}

.image{
	margin:0 auto;
	}

/* header {
	background-color: black;
	color: white;
	border-radius: 10px;
	padding: 14px 24px;
	margin: 0;
	}
		
header h1 {
	margin: 0;
	
	}
	
nav ul li {
	background-color:#999;
	list-style-type: none;
	display: inline-block;
	border-radius:10px;
	padding: 5px 15px;
	margin: 0;
	}
	
header nav h1 ul li {
	display: inline;
	float: right;
	background-color:#000;
	margin: 0:
	}
	
header nav h1 ul li a {
	color: white;
	font-size: 10px;
	margin: 0;
	}
	
nav ul li a {
	color: white;
	}
	
	*/
	
	